.red {
    color: red;
  }
  @keyframes slideup {
    from {
        top: 15px;
    }
    to {
      top: 0px;
    }
  }
  @keyframes slidedown {
    from {
        top: 0px;
    }
    to {
      top: 15px;
    }
  }
  .animationUp {
    position: absolute;
    animation-duration: 0.3s;
    animation-name: slideup;
  }
  .animationDown {
    position: absolute;
    animation-duration: 0.3s;
    animation-name: slidedown;
  }