.wrap {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.headerWrap {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    width: 146px;
    height: 46px;
}

.navBtn {
    padding: 0 10px;
    text-decoration: none;
    color: #333333;
    font-family: "Gill Sans", sans-serif;
}

.slogan {
    font-size: 45px;
    font-weight: 600;
    background-image: -webkit-linear-gradient(left top, rgb(241,192,149), rgb(194, 225, 154));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan2 {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 45px;
  font-weight: 500;
  padding: 50px;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  cursor: default;
}


.countWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.countBtn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px
}

.btnHover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.btnWrap {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.countText {
  width: 50px;
  text-align: center;
}